table.game, table.game th, table.adder {
    text-align: start;
    border-collapse: collapse;
    border-spacing: 0;
    color: white;
}

table.game tbody tr:first-child td {
    background-color: goldenrod;
    color: black;
}

tr {
    height: 2.4em;
}

td, th {
    padding: 0 0.3em;
}

td.game-name {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    overflow: hidden;
    width: var(--name-width);
}

.game-points {
    width: var(--pointsWidth);
    text-align: end;
}

.game-points-turn {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    overflow: hidden;
    width: var(--pointsWidth);
    text-align: end;
}

td.game-turn {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    overflow: hidden;
}

input#points {
    text-align: end;
    width: 90%;
    height: 1.5em;
    padding-right: 5px;
}

td.add {
    justify-content: center;
}

button.add {
    padding: 0 0.4em 0.2em 0.4em;
    margin-left: 0.2em;
    height: 1.8em;
    width: 1.8em;
}

div.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0.75em;
}

.control button {
    /* border-color: var(--borderColor);
    border-width: var(--borderWidth);
    border-style: solid; */
    color: rgb(200, 200, 200);
}

button.back {
    /* border-radius: var(--controlRadius) 0 0 var(--controlRadius);
    padding: 0.2em 0 0 0.2em; */
    background-color: var(--blue);
    width: 7em;
}

button.finish {
    /* border-radius: 0 var(--controlRadius) var(--controlRadius) 0;
    padding: 0 0.2em 0.1em 0;
    color: white; */
    background-color: var(--green);
    width: 6.5em;
}