th.button {
  width: var(--button-width);
}

th.name {
  background-color: goldenrod;
  color: black;
  height: var(--button-heigth);
}

td {
  padding: 0;
}

td.brighter {
  background-color: var(--brightBG);
}

.name {
  width: var(--name-width);
  border-radius: var(--border-radius); 
  overflow: hidden
}

.points {
  width: 3em;
  text-align: end;
}

button:not(.add) {
  height: var(--button-heigth);
  width: var(--button-width);
  padding: 0;
}

button.start {
  width: 8em;
  background-color: var(--green);
  color: black;
  margin-top: 0.4em;
}

input {
  text-align: center;
  width: 94%;
  text-transform: capitalize;
}

input:focus, input:focus-visible {
  outline: 4px auto var(--borderColor);
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
